@import url(https://cdn.jsdelivr.net/npm/siimple@3.1.1/dist/siimple.min.css);@import url(https://pro.fontawesome.com/releases/v5.5.0/css/all.css);.footer-smaller {
  padding: 15px;
  font-weight: bold;
}

